* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    to bottom,
    #009688 0px,
    #009688 15vh,
    #dddbd1 15vh,
    #d2dbdc 100%
  );
  font-family: "Lato", sans-serif;
}

.z-index-100 {
  z-index: 100;
}

.container {
  margin: auto;
  width: 80%;
  /*larghezza minima per evitare sovrapposizioni*/
  height: 95%;
}

#app {
  display: flex;
}

.left {
  width: 380px;
  border-right: 1px solid #d6d6d6;
}

.right {
  width: calc(100% - 380px);
}

/* HEADER */
.header-left,
.header-right {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background: #eaeaea;
}

.header-left .header-left-logo,
.header-left .header-left-icons,
.header-right .header-right-logo,
.header-right .header-right-icons {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
}

.header-left .header-left-logo img,
.header-right .header-right-logo img {
  width: 50px;
  height: 50px;
  margin-left: 15px;
  border-radius: 100%;
}

.header-left .header-left-icons,
.header-right .header-right-icons {
  margin-right: 15px;
}

.header-left .header-left-icons i,
.header-right .header-right-icons i {
  margin: auto 10px;
  color: rgb(177, 177, 177);
  font-size: 22px;
}

.header-right .header-right-logo h3 {
  margin-left: 15px;
  font-size: 16px;
  font-weight: normal;
}

.header-right .header-right-logo h3 small {
  color: #6b7376;
}

.header-left .header-left-icons {
  position: relative;
}

/* LEFT COLUMN */

/* SETTINGS  */
.background-panel {
  display: none;
  position: absolute;
  right: 15px;
  top: 50px;
  width: 320px;
  height: 150px;
  padding: 0.5rem;
  background: white;
  box-shadow: 0px 0px 40px -15px rgba(0, 0, 0, 0.75);
}

.reset-bg {
  font-size: xx-small;
  margin-left: 80px;
}

.reset-bg h7:hover {
  color: red;
}

.bg-option {
  display: flex;
  justify-content: end;
}

.background-options:hover .background-panel {
  display: block;
}

.left .header-left .background-panel > div {
  cursor: pointer;
  width: 100%;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
}

.picture-choose {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.picture-choose img {
  width: 70px;
  height: 70px;
}

.picture-choose img:hover {
  width: 150px;
  height: 150px;
}

.single-background img:hover > .background-options-panel {
  height: 250px;
}

/* DISCLAIMER */
.left-disclaimer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 80px;
  background: #8edafc;
}

.left-disclaimer .left-disclaimer-logo {
  width: 50px;
  height: 50px;
  margin: auto 15px;
  background: #f2fbff;
  border-radius: 100%;
  text-align: center;
  color: #8edafc;
  line-height: 50px;
  font-size: 20px;
}

.left-disclaimer .left-disclaimer-text h3 {
  font-size: 16px;
  font-weight: normal;
}

.left-disclaimer .left-disclaimer-text a {
  color: #4f7485;
  font-size: 13.5px;
}

/* SEARCHBAR */
.left-searchbar {
  display: flex;
  width: 100%;
  height: 50px;
  background: #fafafa;
}

.left-searchbar .search-label {
  width: 50px;
  flex-grow: 0;
  flex-shrink: 0;
  height: 36px;
  margin: 7px 0 7px 7px;
  border: 1px solid #f5f5f5;
  border-right: 0;
  background: #fff;
  line-height: 36px;
  text-align: center;
  color: #b6b9bb;
}

.left-searchbar .left-searchbar-input {
  /* width: calc(100% - 50px); */
  flex-grow: 1;
  flex-shrink: 1;
  height: 36px;
  margin: 7px 7px 7px 0;
  padding: 0 10px;
  border: 1px solid #f5f5f5;
  border-left: 0;
  border-radius: 0px 3px 3px 0;
  color: #b6b9bb;
}

/* CONTACTS */
.left .contacts {
  width: 100%;
  height: calc(100% - 70px - 50px - 80px);
  background: #fff;
  overflow-y: scroll;
}

.left .contacts .contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #f5f5f5;
}

.left .contacts .contact:hover {
  background: #f4f5f5;
}

.left .contacts .contact:last-child {
  border-bottom: 0;
}

.left .contacts .contact.active {
  border-bottom-color: transparent;
  background: #e9ebeb;
}

.left .contacts .contact .contact-logo {
  width: 50px;
  height: 50px;
  flex-grow: 0;
  flex-shrink: 0;
  margin: auto 15px;
  border-radius: 100%;
  overflow: hidden;
}

.left .contacts .contact .contact-logo img {
  width: 100%;
  height: 100%;
}

.left .contacts .contact .contact-info {
  flex-grow: 1;
  flex-shrink: 1;
  margin: auto 15px auto 0;
}

.left .contacts .contact .contact-info h3 {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  font-weight: normal;
}

.left .contacts .contact .contact-info span.time {
  color: #b6b9bb;
  font-size: 12px;
  font-weight: lighter;
}

.left .contacts .contact .contact-info small {
  color: #b6b9bb;
  margin-top: 10px;
}

/* RIGHT COLUMN */
.right {
  position: relative;
}

.right .right-messages-container {
  width: 100%;
  height: calc(100% - 70px - 70px);
}

.right .right-messages {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 5% 10%;
  background-image: url("../img/backgrounds/mine.jpg");
  overflow-y: scroll;
}

/* MESSAGE */
.right .right-messages .message {
  position: relative;
  margin: 5px 0;
  padding: 15px 15px 20px 15px;
  min-width: 40%;
  max-width: 60%;
  background: #fff;
  border-radius: 10px;
  font-size: 15px;
}

.right .right-messages .message.received {
  background: white;
}

.right .right-messages .message.sent {
  align-self: flex-end;
  background: #d5f9ba;
}

.right .right-messages .message .message-inner {
  display: flex;
  justify-content: space-between;
}

.right .right-messages .message .message-options {
  cursor: pointer;
  position: relative;
  height: 95px;
}

.right .right-messages .message .message-options .fa-chevron-down {
  color: #b6b9bb;
}

/* MESSAGE PANEL */
.right .right-messages .message .message-options-panel {
  display: none;
  position: absolute;
  right: 0;
  bottom: -7px;
  width: 150px;
  height: 80px;
  background: white;
  box-shadow: 0px 0px 40px -15px rgba(0, 0, 0, 0.75);
}

.right
  .right-messages
  .message
  .message-options:hover
  > .message-options-panel {
  display: block;
}

.right .right-messages .message .message-options-panel > div {
  cursor: pointer;
  width: 100%;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
}

.right .right-messages .message .message-options-panel > div:hover {
  color: #6b7376;
}

/* MESSAGE TIME */
.right .right-messages .message .message-time {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 10px;
  color: #b6b9bb;
}

/* RIGHT FOOTER */
.right .right-footer {
  display: flex;
  align-items: center;
  background-color: #f3eeea;
  width: 100%;
  height: 70px;
}

.right .right-footer .new-message-inputs {
  flex-grow: 1;
  flex-shrink: 1;
  height: 50px;
  margin: 10px 0;
  padding: 15px;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  font-weight: lighter;
}

.right .right-footer .right-footer-icon {
  width: 80px;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  font-size: 25px;
  color: #6b7376;
}
